@import 'nav.scss';
@import 'new-tweet.scss';
@import 'tweetDisplay.scss';

#errorMessage {
  display: none;
  margin: 0 auto 10px;
  background-color: #eeeeee;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: bold;
  border: 1px solid black;
}