$headerDefaultColor: #00a087;

#nav-bar {
  background-color: $headerDefaultColor;
  color: #e8fdff;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1;

  .logo {
    float: left;
    height: 80px;
    padding-right: 10px;
    width: 80px;
  }

  .header {
    float: left;
    font-size: 200%;
    line-height: 80px;
  }

  .composeBtn {
    background-color: #838E83;
    color: white;
    opacity: .8;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    float:right;
    margin-right: 20px;
    margin-top: 15px;

    &:hover {
      background-color: #EBEDE7;
      color: $headerDefaultColor;
      opacity: 1;
      font-weight: bold;
    }
  }
}