$headerDefaultColor: #00a087;
$mainAreaMargin: 2em;
$contentPadding: 10px;

#nav-bar {
  background-color: $headerDefaultColor;
  color: #e8fdff;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  overflow: hidden;
  padding-left: $mainAreaMargin;
  padding-right: $mainAreaMargin;
  position: fixed;
  width: 100%;
  z-index: 1;

  .logo {
    float: left;
    height: 80px;
    padding-right: $contentPadding;
    width: 80px;
  }

  .header {
    float: left;
    font-size: 200%;
    line-height: 80px;
  }

  .composeBtn {
    background-color: #838E83;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    float:right;
    font-size: 20px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
    opacity: .8;
    text-align: center;
    width: 150px;

    &:hover {
      background-color: #EBEDE7;
      color: $headerDefaultColor;
      font-weight: bold;
      opacity: 1;
    }
  }
}