$mainAreaMargin: 2em;

.container {
  height: auto;
  width: 450px;
  margin: 0 auto;
  padding-top: 105px;
  background-color: white;
  padding-left: $mainAreaMargin;
  padding-right: $mainAreaMargin;
  min-height: 320px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  margin-bottom: 2em;
  border-bottom: 2px solid black;

  .new-tweet {
    height: 180px;
    width: 100%;
    background-color: #eeeeee;
    margin: 0 auto 0;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;

    form {
      height: 100%;
      position: relative;
      z-index: 0;

      textarea {
        display: block;
        margin: 20px auto 10px;
        width: 100%;
        height: 45%;
        padding: 5px;
        overflow: hidden;
        max-width: 100%;
        max-height: 80px;
      }

      input {
        display: block;
        margin: 0;
        position: absolute;
        left: 0;
      }

      .counter {
        margin: 0;
        position: absolute;
        right: 0;
      }
    }

    h2 {
      margin: 0;
      border-bottom: 1px solid blue;
    }
  }
}