$mainAreaMargin: 2em;
$thickBorder: 2px solid black;
$defaultGrayColor: #eeeeee;
$contentPadding: 10px;

.container {
  background-color: white;
  border-bottom: $thickBorder;
  border-left: $thickBorder;
  border-right: $thickBorder;
  margin: 0 auto;
  margin-bottom: $mainAreaMargin;
  min-height: 320px;
  padding-left: $mainAreaMargin;
  padding-right: $mainAreaMargin;
  padding-top: 100px;
  width: 450px;

  .new-tweet {
    max-height: 400px;
    width: 100%;
    background-color: $defaultGrayColor;
    overflow: hidden;
    border-radius: 10px;
    border: $thickBorder;
    padding: $contentPadding;

    form {
      height: 100%;
      margin-bottom: 25px;
      position: relative;

      textarea {
        display: block;
        margin: $contentPadding auto $contentPadding;
        max-height: 200px;
        max-width: 100%;
        min-height: 100px;
        overflow: hidden;
        padding: $contentPadding / 2;
        width: 100%;
      }

      input {
        display: block;
        left: 0;
        margin: 0;
        position: absolute;
      }

      .counter {
        margin: 0;
        position: absolute;
        right: 0;
      }
    }

    h2 {
      border-bottom: 1px solid blue;
      margin: 0;
    }
  }
}