#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  overflow: hidden;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  width: 100%;
  z-index: 1; }
  #nav-bar .logo {
    float: left;
    height: 80px;
    padding-right: 10px;
    width: 80px; }
  #nav-bar .header {
    float: left;
    font-size: 200%;
    line-height: 80px; }
  #nav-bar .composeBtn {
    background-color: #838E83;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    float: right;
    font-size: 20px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
    opacity: .8;
    text-align: center;
    width: 150px; }
    #nav-bar .composeBtn:hover {
      background-color: #EBEDE7;
      color: #00a087;
      font-weight: bold;
      opacity: 1; }

.container {
  background-color: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: 0 auto;
  margin-bottom: 2em;
  min-height: 320px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 100px;
  width: 450px; }
  .container .new-tweet {
    max-height: 400px;
    width: 100%;
    background-color: #eeeeee;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px; }
    .container .new-tweet form {
      height: 100%;
      margin-bottom: 25px;
      position: relative; }
      .container .new-tweet form textarea {
        display: block;
        margin: 10px auto 10px;
        max-height: 200px;
        max-width: 100%;
        min-height: 100px;
        overflow: hidden;
        padding: 5px;
        width: 100%; }
      .container .new-tweet form input {
        display: block;
        background-color: #00a087;
        border: 1px solid black;
        color: white;
        left: 0;
        margin: 0;
        position: absolute; }
      .container .new-tweet form .counter {
        margin: 0;
        position: absolute;
        right: 0; }
    .container .new-tweet h2 {
      border-bottom: 1px solid blue;
      margin: 0; }

.tweet {
  background-color: white;
  border: 1px solid #bec0c4;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden; }
  .tweet:hover {
    border: 2px solid gray; }
    .tweet:hover header {
      color: #3c3d3f;
      font-weight: bold;
      overflow: hidden; }
    .tweet:hover footer img {
      display: inline-block;
      float: right;
      height: 15px;
      margin: 0;
      position: relative;
      transform: translateY(-50%);
      top: 50%; }
  .tweet header {
    background-color: #eeeeee;
    border-bottom: 1px solid #eeeeee;
    color: #05214f;
    height: 60px; }
    .tweet header h2 {
      display: inline-block;
      font-size: 20px;
      line-height: 60px;
      margin: 0;
      padding-left: 0; }
    .tweet header img {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 30%;
      float: left;
      height: 60px;
      margin: 0;
      width: 60px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 10px;
      padding-left: 10px; }
    .tweet header p {
      font-size: 14px;
      margin: 0;
      line-height: 60px;
      float: right;
      padding-right: 10px; }
  .tweet div {
    border-bottom: 1px solid #eeeeee;
    margin-top: 0;
    max-height: px;
    overflow: hidden;
    word-wrap: break-word; }
    .tweet div p {
      margin: 0px;
      padding: 10px; }
  .tweet footer {
    height: 25px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px; }
    .tweet footer p {
      display: inline-block;
      font-size: 12px;
      line-height: 25px;
      margin: 0;
      padding-right: 10px; }
