#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  overflow: hidden;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  width: 100%;
  z-index: 1; }
  #nav-bar .logo {
    float: left;
    height: 80px;
    padding-right: 10px;
    width: 80px; }
  #nav-bar .header {
    float: left;
    font-size: 200%;
    line-height: 80px; }
  #nav-bar .composeBtn {
    background-color: #838E83;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    float: right;
    font-size: 20px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
    opacity: .8;
    text-align: center;
    width: 150px; }
    #nav-bar .composeBtn:hover {
      background-color: #EBEDE7;
      color: #00a087;
      font-weight: bold;
      opacity: 1; }
