.container {
  background-color: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: 0 auto;
  margin-bottom: 2em;
  min-height: 320px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 100px;
  width: 450px; }
  .container .new-tweet {
    max-height: 400px;
    width: 100%;
    background-color: #eeeeee;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px; }
    .container .new-tweet form {
      height: 100%;
      margin-bottom: 25px;
      position: relative; }
      .container .new-tweet form textarea {
        display: block;
        margin: 10px auto 10px;
        max-height: 200px;
        max-width: 100%;
        min-height: 100px;
        overflow: hidden;
        padding: 5px;
        width: 100%; }
      .container .new-tweet form input {
        display: block;
        left: 0;
        margin: 0;
        position: absolute; }
      .container .new-tweet form .counter {
        margin: 0;
        position: absolute;
        right: 0; }
    .container .new-tweet h2 {
      border-bottom: 1px solid blue;
      margin: 0; }
