#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  overflow: hidden;
  width: 100%;
  position: absolute;
}

#nav-bar .logo {
    float: left;
    height: 80px;
    padding-right: 10px;
    width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
  /*position: absolute;*/
}

#nav-bar .composeBtn {
  background-color: 'white'; /* Green */
  opacity: .8;
  border: 1px solid black;
  height: 50px;
  width: 150px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 0;
/*  display: inline-block;*/
  position: relative;
  float:right;
  margin-right: 20px;
  margin-top: 15px;

}

#nav-bar .composeBtn:hover {
  background-color: 'black'; /* Green */
  font-size: 12px;


}