#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  overflow: hidden;
  width: 100%;
}

#nav-bar .logo {
    float: left;
    height: 80px;
    padding-right: 10px;
    width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
}