.tweet {
  height: 180px;
  width: 100%;
  background-color: white;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #bec0c4
}

 .tweet header {
  height: 60px;
  background-color: #eeeeee;
  color: #05214f;
  border-bottom: 1px solid #eeeeee
}

.tweet header h2 {
  margin: 0;
  line-height: 60px;
  padding-left: 0;
  display: inline-block
}

.tweet header img {
  height: 60px;
  width: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding-right: 10px;
  border-radius: 30%;
  float: left;
  padding-left: 10px
}

.tweet header p {
  margin: 0;
  line-height: 60px;
  float: right;
  padding-right: 10px
}

.tweet div {
  height: 90px;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #eeeeee
}

.tweet footer {
  margin: 0;
}

.tweet footer p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 150px;
  display: inline-block
}